body{
    background-color: #191414;
    font-family: Montserrat;
    color: whitesmoke;
}

div.navbar>ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

ul{
    display: flex;
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0; padding: 0;
    top: 0%;
    left: 0%;
    overflow: hidden;
    background-color: #333;
}

ul>div{
    flex: 2;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

li.naslov{
    margin: 10px;
}

a.naslov{
    font-size: 30px;
    color: green;
}

li>a{
    height: 41%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

div.form_flexcont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 3%;
    height: 90vh;
}

div.login_form{
    display: flex;
    width: inherit;
    padding: 50px;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
} 

div.login_form>form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form>label.labela{
    align-self: baseline;
}

div.register_form{   
    border-radius: 10px;
    padding: 50px;
    display: flex;
    justify-content: center;
    width: inherit;
    background-color: #333;
}

div.register_form>form{
    gap: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

div>form>button{
    background-color: bisque;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bolder;
    font-family: montserrat;
    margin-top: 20px;
}

input{
    width: 300px;
    border-radius: 5px;
    height: 27px;
}


legend{
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 15px;
}