body{
    background-color: #191414;
    font-family: Montserrat;
    color: whitesmoke;
}

div.navbar>ul{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

ul{
    display: flex;
    position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0; padding: 0;
    top: 0%;
    left: 0%;
    overflow: hidden;
    background-color: #333;
}

ul>div{
    flex: 2;
    margin-left: 10px;
    display: flex;
    align-items: center;
}

li.naslov{
    margin: 10px;
}

a.naslov{
    font-size: 30px;
    color: green;
}

li>a{
    height: 41%;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

div.searchBar{
    background-color: #333;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 40px;
    flex-direction: row;
    margin: auto;
    margin-top: 10%;
    width:70%;
    align-items: center;
    gap: 10px;
}

input#searchText{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    font-size: inherit;
}

label.SearchLabel{
    font-size: 28px;
    font-weight: bolder;
}

button.buttonSearch{
    width: 20%;
    height: 100%;
    font-size: 20px;
    border-radius: 20px;
}

button.buttonSearch:hover{
    background-color: darkgrey;
}

div.searchResults{
    display: flex;
    background-color: #333;
    align-items: center;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 80%;
}

@media (max-width: 600px) {
    a.naslov{
        font-size: 15px;
        color: green;
    }

    div.searchBar{
        margin-top: 12%;
    }

    li>a{
        height: 41%;
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 8px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 12px;
        font-weight: bold;
    }
    
}   