body{
    margin: 0;
}

.FrontpageContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.homeContainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.welcome_site {
    border-radius: 5px;
    display: flex;
    margin-top: 80px;
    flex-direction: column;
    align-items: center;
    width: 90%;
    justify-content: center;
}

h1{
    text-align: center;
}

.NewsContainer{
    width: 90%;
}

div.kartice {
    display: flex;
    border-radius: 5px;
    gap: 50px;
    justify-content: flex-start;
    padding: 20px;
    flex-direction: column;
    overflow-y: auto;
    height: 400px;
}

div.kartice>div {
    color: whitesmoke;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px;
    align-items: center;
    background-color: #352b2b;
}

div.kartice>div>h2,p {
    text-align: left;
    width: 100%;
    margin: 10px;
    word-wrap: break-word;
}

div.kartice>div>button {
    background-color: bisque;
    height: 50px;
    border: none;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin: 15px;
    font-size: 14px;
    font-weight: bolder;
    font-family: montserrat;
}

.EditDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.EditDiv>textarea, input{
    background-color: #505050;
    color: white;
    font-family: 'Montserrat';
}

.AddForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AddForm>textarea, input{
    background-color: #505050;
    color: white;
    font-family: 'Montserrat';
}

.newNaslov{
    width: 300px;
}

.newOpis{
    width: 500px;
    height: 200px;
}

.Buttons{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.editBtn, .deleteBtn, .addBtn{
    border-radius: 22.5px;
    padding: 7px;
    font-family: "Montserrat";
    font-weight: 700;
}

.addBtn{
    margin-bottom: 5px;
}

.novostheading{
    margin: 5px 0 5px 0;
}

@media (max-width: 600px) {

    .NewsContainer{
        width: 90%;
    }

    div.kartice {
        display: flex;
        border-radius: 5px;
        gap: 50px;
        justify-content: space-around;
        padding: 20px;
        flex-direction: column;
        height: 450px;
    }
}