.PageContainer{
    margin-top: 60px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.LibraryContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ProfileContainer{
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    width: 90%;
    height: 200px;
}

.ProfileInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    justify-content: flex-start;
    margin-right: 20px;
}

.ProfileImage{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.Username{
    display: flex;
    flex-direction: column;
}

.name{
    display: flex;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0;
}

.numofsongs{
    font-size: 20px;
    margin-top: 0;
}

.SongsContainer{
    width: 90%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
}

.SongList{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    gap: 10px 10px;
    width: 100%;
}

.SongItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    padding: 25px;
    width: 10%;
}

.SongItem>h4,h5{
    margin: 0;
}

.SongName:hover{
    cursor: pointer;
    text-decoration: underline;
}

.delete{
    border-radius: 20px;
    padding: 5px;
    margin-top: 5px;
}

.changePFP{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.changePFP>input{
    width: 50%;
}

.FilterContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -30px;
    margin-bottom: 15px;
}

select{
    margin: 0 10px;
    border-radius: 22.5px;
}

.FilterContainer>input{
    width: 220px;
}

.OrderRadioButtons{
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 5px;
}



editbtn{
    margin-top: 0;
}

@media (max-width:600px) {
    .SongList{
        padding: 0 20px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .changePFP{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        gap: 0;
    }

    

    .SongItem{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #333;
        border-radius: 10px;
        padding: 10px;
        width: 80%;
        margin-bottom: 15px;
    }

    .SongsContainer{
        width: 90%;
        height: 350px;
        display: flex;
        overflow-y: auto;
    }

    .ProfileContainer{
        display: flex;
        align-items: center;
        background-color: #333;
        border-radius: 10px;
        width: 90%;
        height: 150px;
    }
    
    .PageContainer{
        margin-top: 20px;
    }

    .ProfileInfo{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 10px;
        margin-right: 0px;
    }
    
    .ProfileImage{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .Username{
        display: flex;
        flex-direction: column;
    }
    
    .name{
        display: flex;
        font-size: 35px;
        font-weight: 600;
        margin-bottom: 0;
    }
    
    .numofsongs{
        font-size: 18.5px;
        margin-top: 0;
        font-weight: 400;
    }

    input{
        font-size: 10px;
        border-radius: 20px;
        padding-left: 10px;
    }

    .delete{
        align-self: center;
    }

    .FilterContainer{
        display: flex;
        width: 90%;
    }
    
}