.PageContainer{
    margin-top: 60px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.ProfileContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    border-radius: 10px;
    width: 90%;
}

.ProfileInfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.ProfileImage{
    height: 180px;
    width: 180px;
    border-radius: 25%;
    object-fit: cover;
    padding-right: 50px;
}

.Username{
    display: flex;
    flex-direction: column;
}

.name{
    display: flex;
    font-size: 50px;
    font-weight: 800;
    margin-bottom: 0;
}

.numofsongs{
    font-size: 20px;
    margin-top: 0;
}

.SongsContainer{
    width: 90%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    overflow-y: auto;
}

.SongList{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: flex-start;
    gap: 10px 10px;
    width: 100%;
}

.SongItem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333;
    border-radius: 10px;
    padding: 25px;
    width: 10%;
}

.SongItem>h4,h5{
    margin: 0;
}

.playercontainer {
    position: fixed;
    bottom: 0;
    left: 25%;
    width: 50%;
    background-color: #f0f0f0; /* Example background color */
    z-index: 10; /* Ensure it's above other content */
  }