::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: gray;
}

::-webkit-scrollbar-track{
    background-color: rgb(193, 193, 193);
}

.SearchContainer{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.searchBar{
    background-color: #333;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding: 30px;
    flex-direction: row;
    width:70%;
    gap: 10px;
}

input#searchText{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    font-size: inherit;
    padding-left: 10px;
}

label.SearchLabel{
    font-size: 28px;
    font-weight: bolder;
}

button.buttonSearch{
    width: 20%;
    height: 100%;
    font-size: 20px;
    border-radius: 20px;
}

button.buttonSearch:hover{
    background-color: darkgrey;
}

div.searchResults{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 5%;
    width: 74%;
    height: 400px;
}

div.ResultContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #333;
    width: 100%;
    height: inherit;
    border-radius: 10px;
    overflow-y: auto;
}

.ResHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.ListOfResults{
    padding: 0 20px;
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
}

.ListItemResult{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10px 0;
    margin-bottom: 20px;
    margin-top: 15px;
    gap: 100px;
}

.FilterTab form{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    
    .ResultContainer{
        width: 400px;
    }

}   