.playerContainer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index:10; 
}

.Player{
    height: 120px;
}

.HideBtn{
    position: fixed;
    z-index:11;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    font-family: 'Montserrat';
    font-weight: 700;
    padding: 8px;
    width: 55px;
}

@media (max-width:600px) {
    .Player{
        height: 110px;
    }
}